// @import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
* {
  list-style: none;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {

  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
// header
.nav-box {
  width: 1090px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
}
.Current-User-Box {
  width: 200px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto !important;
  margin-bottom: 30px;
  li {
    margin: 0px 20px;
    font-size: 12px;
  }

}

.page-title h1{
  font-size: 40px;
}



// body

.container {
  width: 1090px;
}

.form-box {
  width: 500px;
  margin: 0 auto;
}

.btn-box {
  width: 110px;
  display: flex;
  justify-content: space-between;
}
.back-box {
  width: 140px;
  display: flex;
  justify-content: space-between;
}