// @import "bootstrap-sprockets";
@import "bootstrap";
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

/* universal */
* {
  list-style: none;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

ol, ul, dl {
  margin-top: 0;
  margin-bottom: 0!important;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1 {

  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;
}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}

p {
  font-size: 1.1em;
}
.white {
  color:white;
  &:hover {
    color: white;
    text-decoration: none;
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
// header
.nav-box {
  width: 1090px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin: 0 auto;
}
.Current-User-Box {
  width: 200px;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto !important;
  padding-top: 10px;
  margin-bottom: 30px;
  li {
    margin: 0px 20px;
    font-size: 12px;
  }

}

.page-title h1{
  font-size: 40px;
}



// body

.container {
  width: 1090px;
}

.form-box {
  width: 500px;
  margin: 0 auto;
}

.btn-box {
  width: 110px;
  display: flex;
  justify-content: space-between;
}
.back-box {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.user_data {
  display: flex;
  align-items: center;
  padding: 10px 0px;
  
}

.shop-profile li {
  width: 50%;
  border-top: 1px solid #b1b1b1;
  padding: 25px 0px 10px 0px;
}
.menu-profile {
  width: 50%;
  border-top: 1px solid #b1b1b1;
  padding: 25px 0px 10px 0px;
}
.comment-block {
  padding: 15px 0px 5px 0px;
}
.reply-form {
  display: flex;
  flex-direction: column;
  .contentbox {
    width: 20%;
  }
  .form_submit{
    margin-top: 10px;
    width: 150px;
  }
}

.menu-show {
  width: 50%;
}
.comment-form {
  display: flex;
  flex-direction: column;

  padding-top: 20px;
  .contentbox{
    width: 30%;
  }
  .form_submit{
    margin-top: 10px;
    width: 150px;
  }
}

.menu-LikeFavo-btn {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  li {
    margin-right: 10px;
  }
}
.like-gray {
  font-size: 18px;
  color: #888888;
  &:hover {
    color: #888888;
    text-decoration: none;
  }
}
.like-pink {
  font-size: 18px;
  color: #fc0069;
  &:hover {
    color: #fc0069;
    text-decoration: none;
  }
}

.favo-gray {
  font-size: 18px;
  color: #888888;
  &:hover {
    color: #888888;
    text-decoration: none;
  }
}
.favo-orange {
  font-size: 18px;
  color: #fc8600;
  &:hover {
    color: #fc8600;
    text-decoration: none;
  }
}

.favorite-menu {
  display: flex;
  align-items: center;
  padding: 15px 0px 5px 0px;
  margin-bottom: 10px;
}

.btn {
  font-size: 10px;
  padding: 10px 20px;
  margin-right: 10px;
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  align-items: center;
}
.current-user-link {
  font-size: 10px;
  padding: 5px 9px;
  margin-right: 10px;
  margin-top: 5px;
  display: flex;
  align-items: center;
  border-radius: 100px!important;
  background-color: #1fbb53;
}
.current-user-icon {
  border-radius: 100%;
  margin-right: 5px;
  border: #eaeaea 2px solid;
}
.user-icon {
  border-radius: 100%;
  margin-right: 10px;
  border: #eaeaea 2px solid;
}
.menus-index {
  display: flex;
  flex-direction: column;
}
.menus-item {
  margin-bottom: 10px;
}
.menu-img {
  max-width: 100%;
}
.menu-thumb-img {
  width: 100px;
  margin-right: 10px;
}