
$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;
}

// スクロールバーデザイン

.page_content::-webkit-scrollbar {
  width: 10px;
}
.page_content::-webkit-scrollbar-track {
  background-color: #fcfcfc;
}
.page_content::-webkit-scrollbar-thumb {
  background-color: rgb(184, 195, 201);
}

/* universal */
* {
  list-style: none;
  box-sizing: border-box;
}

body {
  background-color: rgb(245, 245, 245);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}

/* typography */

p, a, ol, ul, dl {
  padding: 0;
  margin: 0;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
  
}
h1 {
  margin-bottom: 0px;
}


h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
}
p, a, li{
  font-size: 14px;
  text-decoration: none;
  color: #222222;
  letter-spacing: 0.5px;
}
p {
  font-family:  Arial, Helvetica, sans-serif;
}
.white {
  color: white!important;;
  &:hover {
    color: white!important;
    text-decoration: none;
  }
}
a {
  &:hover{
    color: black;
  }
}
li {

}

.fa-user::before ,.fa-users::before ,.fa-store::before , .fa-utensils::before {
  font-size: 20px;
  margin-right: 4px;
  transform: translateY(20px);
}
.current_bar_tabs {
  .fa-store::before , .fa-utensils::before {
    margin-right: 0;
    color: rgb(19, 32, 47)!important;
  }
}


/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
  @include box_sizing;
}
// header

.nav-box {
  width: 100%;
  height: 50px;
  min-height: 50px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: rgb(19, 32, 47);
  padding: 0px 30px;
  position: fixed;
  top:0;
  z-index: 1000;
}
.header-logo {
  width: 140px;
  a {
    width: 100%;
    img {
      width: 100%;
    }
  }
}
.Current-User-Box {
  display: flex;
  align-items: center;
}
.comment-content {
  margin-left: 10px;
  margin-bottom: 5px;
}
.comment-img {
  width: 100px;
  z-index: 100;
  img {
    width: 100%;
  }
}
.image-modal {
  
  .image-modal-dialog {
    width: 100%;
  }
}
.comment-img-fullsize {
  width: 100%;
  img {
    width: 100%;
  }
}
.navbar-nav {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  .nav-item {
    display: flex;
    align-items: center;
  }
  li {
    margin: 0px 14px;
    font-size: 12px;
    letter-spacing: 3px;
    font-weight: 600;
    .nav-item-text {
      color: white;
    }
  }
}
.dropdown-menu {
  background-color: #a80000;
  box-shadow: 0px 0px 10px rgba(153, 153, 153, 0.712);
  li {
    width: 100%;
    margin-left: 0;
  }
}
.dropdown-menu-green {
  background-color: #1fbb53;
  .dropdown-item {
    &:hover {
      background-color: #80cf79;
      color: #f1f1f1;
    }
  }
}
.dropdown-item {
  width: 100%;
  color: #f1f1f1;
  padding: 4px 10px;
  font-size: 12px;
  font-weight: bold;
  &:hover {
    background-color: #c05a5a;
    color: #f1f1f1;
  }
}
.closing-box {
  width: 250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.signup-btn {
  background-color: #f1f1f1;
  border-radius: 5px;
  padding: 5px 15px;
  color: #222222;
  font-weight: bold;
}
.login-btn {
  background-color: #39cf2b;
  border-radius: 5px;
  padding: 5px 15px;
  color: #e0e0e0;
  font-weight: bold;
  &:hover {
    color: #e0e0e0;
  }
}

.page-title h1{
  width: 1090px;
  margin: 0 auto;
  font-size: 40px;
  font-weight: bold;
  border-bottom: #222222 4px solid;
  line-height: 0.9em;
  text-align: left;
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 0px 100px 0px 5px;
}
.alert {
  width: 71%;
  position: absolute;
  top: 7vh;
  left:1%;
  z-index: 1000000;
}



// body

.container {
  width:  100%;
  height: calc(100vh - 50px);
  max-width: 100%;
  padding: 0px;
  margin-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.current_bar {
  width: 300px;
  height: 100%;
  max-width: 300px;
  background-color: rgb(222, 230, 238);
  display: flex;
  flex-direction: column;
}
.current_bar_tabs {
  width: 100%;
  height: 50px;
  background-color: rgb(252, 252, 252);
  display: flex;
  li {
    width: 50%;
    border-bottom: 1px solid rgb(185, 187, 192);
    border-right: 1px solid rgb(185, 187, 192);
  }
}
.favorites_menu_tab {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    font-size: 22px;
    margin-top: 10px;
  }
  a ::after {
    content: "SHOPS";
    width: 100%;
    color: rgb(19, 32, 47);
    font-size: 10px;
    text-align: center;
    transform: scale(0.5);
    position: absolute;
    top: 3px;
    right: 0;
  }
}
.favorites_shops_tab{
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  a {
    margin-top: 10px;
    font-size: 22px;
  }
  a ::after {
    content: "MENUS";
    width: 100%;
    font-size: 10px;
    color: rgb(19, 32, 47);
    text-align: center;
    transform: scale(0.5);
    position: absolute;
    top: 3px;
    right: 0;
  }
}
.page_box {
  width: calc(100% - 300px);
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  position: relative;
}
.page_header {
  background-color: #fcfcfc;
  width: 100%;
  height: 50px;
  min-height: 50px;
  border-bottom: 1px solid rgb(185, 187, 192);
  display: flex;
  align-items: center;
  padding-left: 20px;
  h1 {
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2px;
    display: flex;
    align-items: center;
  }
  
}
.page_content {
  width: calc(100vw - 600px);
  height: calc(100vh - 100px);
  overflow-y: scroll;
  padding: 30px;
}
.page_side_bar {
  width: 300px;
  max-width: 300px;
  height: calc(100vh - 100px);
  background-color: rgb(222, 230, 238);
}
.user-show-box {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  position: relative;
}
.user-icon {
  width: 20%;
  max-width: 150px;
  position: relative;
  margin-bottom: 30px;
  img {
    width: 100%;
    border-radius: 100%;
    border: #b4b4b4 4px solid;
  }
}
.current-comment-box {
  position: relative;
}

.menu-comment-form {
  display: flex;
  height: 90px;
  margin-bottom: 30px;
  .comment-textarea {
    height: 100%;
    font-size: 12px;
    position: absolute;
    display: block;
    line-height: 1.5em;
    padding: 14px 50px;
    display: table-cell;
    vertical-align: middle;
  }
  .btn-box {
    position: absolute;
    z-index: 100;
    bottom: -40px;
    right: 0;
    .btn {
      margin-right: 0;
    }
  }
}
.comment-user-icon {
  width: 30px;
  position: absolute;
  top:10px;
  left: 10px;
  z-index: 100;
  img {
    width: 100%;
    border-radius: 100%;
    border: #30303060 1px solid;
  }
}
.comment-menu-camera {
  position: absolute;
  font-size: 17px;
  color: white;
  bottom: 10px;
  left: 10.5px;
  z-index: 1000;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.671);
  padding: 6px;
  border-radius: 100%;
  &:hover {
    color: #222222;
    background-color: rgba(255, 255, 255, 0.226);
  }
}
.pagination-centered {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 15px 0px;
}
.pagination {
  li {

    border-top: 1px solid #d8d8d8 ;
    border-bottom: 1px solid #d8d8d8 ;
    border-left: 1px solid #d8d8d8;
    display: flex;
    justify-content: center;
    a {
      padding: 5px 10px;
    }
  }
  li:first-child {
    border-radius: 5px 0px 0px 5px;
  }
  li:last-child {
    border-right: 1px solid #d8d8d8 ;
    border-radius: 0px 5px 5px 0px;
  }
  .current {
    background-color: rgb(19, 32, 47);
    a {
      color: #fcfcfc!important;
    }
  }
}
.user-show-profile {
  width: 70%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  position: relative;
  margin-left: 20px;
  margin-bottom: 30px;
}
.admin-badge {
  width: 80px;
  padding: 3px 10px;
  text-align: center;
  color: #fafafa;
  background-color: #a80000;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
  left: 37px;
}
.index-admin-badge {
  padding: 2px 10px;
  text-align: center;
  color: #fafafa;
  background-color: #a80000;
  border-radius: 5px;
  margin-right: 5px;
}
.current_user-badge {
  width: 80px;
  padding: 3px 10px;
  text-align: center;
  color: #fafafa;
  background-color: #00a80e;
  border-radius: 5px;
  position: absolute;
  bottom: -10px;
  left: 37px;
}
.user-show-name {
  width: 100%;
  font-size: 19px;
  font-weight: bold;
  margin-bottom: 10px;
  display: flex;
  justify-content: flex-start;
  align-items: baseline;
}
.user-show-sex {
  width: 30%;
  font-size: 12px;
  margin-top: 10px;
  font-weight: bold;
}
.user-show-birthday {

}
.user-show-shops-count {
  width: 100%;
}
.user-show-btn-box {
  width: 100%;
  display: flex;
  justify-content: flex-start;
  margin-top: 10px;
}
.user-show-like-box {
  width: 100%;
  max-width: 800px;
}
.user-show-title {
  width: 100%;
  font-size: 16px;
  font-weight: bold;
  letter-spacing: 3px;
  padding: 10px 20px;
  color: #222222;
  border-radius: 5px;
  position: relative;
  &::before{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 10px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(19, 32, 47);
  }
}
.user-show-list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  
}
.user-show-shop-list {
  width: 100%;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
}
.user-show-shop-item {
  display: flex;
  margin-bottom: 5px;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  border: #ebebeb00 solid 2px;
  &:hover {
    border: $gray-medium-light solid 2px;
    background-color: #fafafa;
  }
  .user-show-shop-img {
    width: 200px;
    height: 110px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 3px;
    img {
      width: 250px;
      margin: 0 -50px;
    }
  }
}

.user-show-shop-profile {
  width: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li {
    margin: 2px 0px;
  }
  .user-show-shop-name {
    width: 400px;
    padding: 2px 15px;
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #222222;
      &:hover {
        color: rgb(19, 32, 47);
      }
    &::before{
      content:"";
      position: absolute;
      top: 0px;
      left: 0px;
      width: 10px;
      height: 100%;
      border-radius: 4px 0px 0px 4px;
      background-color: rgb(19, 32, 47);
    }
  }
}
.btn-box {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.back-box {
  width: 140px;
  display: flex;
  justify-content: space-between;
}

.user_data {
  display: flex;
  align-items: center;
  padding: 10px;
  margin-bottom: 5px;
  border: #ebebeb00 solid 2px;
  border-radius: 5px;
  &:hover {
    border: $gray-medium-light solid 2px;
    background-color: #fafafa;
  }
}
.shops-index {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.shop-index-item {
  width: 100%;
  display: flex;
  padding: 10px;
  border: #ebebeb00 solid 2px;
  border-radius: 5px;
  &:hover {
    border: $gray-medium-light solid 2px;
    background-color: #fafafa;
  }
}

.shop-index-img {
  width:300px;
  height: 180px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 3px;
  img {
    width: 350px;
    margin: 0 -50px;
  }  
}
.shop-index-info {
  display: flex;
  flex-direction: column;
  padding: 0px 20px;
  li {
  }
}
.shop-index-name {
  padding: 2px 20px;
  position: relative;
  margin-bottom: 10px;
  font-size: 18px;
  font-weight: bold;
  &:hover {
    color: rgb(19, 32, 47);
    }
  &::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0px;
    width: 10px;
    height: 100%;
    border-radius: 5px 0px 0px 5px;
    background-color: rgb(19, 32, 47);
  }
}
.shop-index-headline {
  margin-bottom: 10px;
  font-style: italic;
  font-weight: bold;
}
.menu-show-shop-item {
  display: flex;
  padding: 10px;
  border-radius: 5px;
  box-sizing: border-box;
  
  border: $gray-medium-light solid 2px;
    background-color: #fafafa;
  &:hover {
    border: #ebebeb00 solid 2px;
    background-color: #fcfcfc00;
  }
  .menu-show-shop-img {
    width: 100px;
    height: 80px;
    overflow-x: hidden;
    overflow-y: hidden;
    border-radius: 3px;
    img {
      width: 150px;
      margin: 0 -50px;
    }
  }
}

.menu-show-shop-profile {
  width: 80%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  li {
    font-size: 12px;
  }
}
.menu-show-shop {
  font-size: 13px;
  font-weight: bold;
  padding-left: 13px;
  margin-bottom: 5px;
  position: relative;
  &::before{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 8px;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(19, 32, 47);
  }
}
.menu-show-shop-name {
  width: 100%;
  padding-left: 15px;
  margin-bottom: 5px;
  position: relative;
  font-size: 12px;
  font-weight: bold;
  color: #222222;
  &:hover {
    color: rgb(19, 32, 47);
  }
  &::before{
    content:"";
    position: absolute;
    top: 0px;
    left: 0px;
    width: 8px;
    height: 100%;
    border-radius: 4px 0px 0px 4px;
    background-color: rgb(19, 32, 47);
  }
}
.menus-grid {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.menu-grid-item {
  width: 32%;
  max-width: 250px;

  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  position: relative;
  margin: 5px 5px;
  border-radius: 5px;
}
.menu-grid-img {
  width: 100%;
  max-width: 250px;
  max-height: 250px;
  overflow-x: hidden;
  overflow-y: hidden;
  border-radius: 5px 5px 0px 0px;
  position: relative;
  
  img{
    width: 250px;
    &:hover {
      opacity: 0.7;
    }
  }
}
.menu-grid-LFs {
  width: 90px;
  height: 27px;
  position: absolute;
  top: 0;
  padding: 5px 7px;
  border-radius: 5px 0px 5px 0px;
  background-color: rgb(19, 32, 47);
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-grid-NEW {
  width: 70px;
  height: 27px;
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px 7px;
  border-radius: 0px 5px 0px 5px;
  background-color: rgb(216, 60, 60);
  color: #fafafa;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.menu-grid-heart-box {
  display: flex;
  justify-content: space-between;
  
}
.menu-grid-star-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.menu-grid-name {
  width: 100%;
  background-color: rgb(19, 32, 47);
  padding: 1px 0px;
  text-align: center;
  border-radius: 0px 0px 5px 5px;
  a {
    color: #fafafa;
    font-weight: bold;
    letter-spacing: 2px;
  }
}
.comment-box {
  padding: 30px 0px;
}
.comment-item {
  padding: 10px;
  border:1px solid #e0e0e000 ;
  position: relative;
  margin-bottom: 10px;
  &:hover {
    background-color: #f1f1f1;
    border:1px solid #e0e0e0 ;
    border-radius: 5px;
  }
  li {
    margin-bottom: 10px;
  }
}
.reply-btn {
  border: none;
  background-color: #b4b4b400;
  color: #b4b4b4;
  &:hover {
    color: #222222;
  }
}
.reply-block {
  padding: 20px;
}
.reply-item {
  margin-bottom: 20px;
}
.reply-form {
  display: flex;
  flex-direction: column;

  .form_submit{
  }
}
.form-box {
  width: 80%;
  margin: 0 auto;
  border: 2px solid rgb(214, 214, 214);
  background-color: rgb(241, 239, 239);
  padding: 50px 50px 100px 50px;
  
  border-radius: 5px;
  position: relative;
}
.form-control {
  resize: none;
  margin-bottom: 10px;
}
.content-box {
  width: 100%;
  height: 200px;
  resize: none;
}

.menu-show {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 20px;
  border: 2px solid rgb(214, 214, 214);
  background-color: rgb(253, 253, 253);
  border-radius: 5px;
  margin-bottom: 10px;
  
}
.menu-img {
  width: 40%;
}
.menu-profile-box {
  width:57%;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  .btn-box {
    position: absolute;
    top: 0;
    right: 0;
    .btn {
      margin-right: 0;
    }
  }
}
.comment-form {
  display: flex;
  flex-direction: column;
  .form_submit{
  }
}
.change-img {
  width: 100%;
  position: relative;
  cursor: pointer;
  display: flex;
  justify-content: center;
  img {
    width: 70%;
  }
}
.change-menu-camera {
  position: absolute;
  font-size: 20px;
  bottom: 10px;
  right: 17%;
  z-index: 1000;
  background-color: rgba(255, 255, 255, 0.671);
  padding: 10px;
  border-radius: 100%;
  &:hover {
    background-color: rgba(255, 255, 255, 0.226);
  }
}

.menu-LikeFavo-btn {
  padding-left: 0px;
  display: flex;
  justify-content: flex-start;
  margin-top: 15px;
  margin-bottom: 10px;
  li {
    margin-right: 30px;
  }
}
.like{
  position: relative;
  &::before {
    content:"いいね";
    font-size: 10px;
    transform: scale(0.8);
    width: 80px;
    position: absolute;
    top: -20px;
    left: -10px;
  }
}
.favo {
  position: relative;
  &::before {
    content:"お気に入り";
    font-size: 10px;
    transform: scale(0.8);
    width: 100px;
    position: absolute;
    top: -20px;
    left: -10px;
  }
}
.like-gray {
  font-size: 18px;
  color: #888888;
  &:hover {
    color: #888888;
    text-decoration: none;
  }
}
.like-pink {
  font-size: 18px;
  color: #fc0069;
  &:hover {
    color: #fc0069;
    text-decoration: none;
  }
}

.favo-gray {
  font-size: 18px;
  color: #888888;
  &:hover {
    color: #888888;
    text-decoration: none;
  }
}
.favo-orange {
  font-size: 18px;
  color: #fc8600;
  &:hover {
    color: #fc8600;
    text-decoration: none;
  }
}

.favorite-menu {
  display: flex;
  align-items: center;
  padding: 15px 0px 5px 0px;
  margin-bottom: 10px;
}

.btn {
  width: auto;
  height: 30px;
  font-size: 14px;
  padding: 0px 20px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  line-height: 1.2!important;
}
.btn-right {
  position: absolute;
  bottom: 50px;
  right: 50px;
  margin-right: 0;
}
.menu-grid-btn-box {
  position: absolute;
  bottom: 0;
  right: -10px;
  .btn {
    height: 27px;
    padding: 5px 14px;
    border-radius: 5px 0px 0px 0px;
  }
}
.current-user-link {
  padding: 5px 9px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  border-radius: 5px;
  background-color: #1fbb53;
}
.admin-user-link {
  padding: 5px 9px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  line-height: 1;
  border-radius: 5px;
  background-color: #a80000;
}
.current-user-icon {
  border-radius: 100%;
  margin-right: 5px;
  border: $gray-medium-light 2px solid;
  
}
.admin-user-icon {
  border-radius: 100%;
  margin-right: 5px;
  border: $gray-medium-light 2px solid;
}

.menus-index {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.menus-item {
  width: 30%;
  margin: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  background-color: #fafafa;
}
.menu-index-profile {
  width: 100%;
  color: #222222;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

.menu-thumb-img {
  width: 100%;
  margin-right: 10px;
}



.shop-show-box{
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
  padding: 20p
} 

.shop-img {
  width: 100%;
  max-height: 500px;
  margin: 0 auto;
  overflow-x: hidden;
  overflow-y: hidden;
  margin-bottom: 30px;
  position: relative;
  img {
    width: 100%;
  }
}
.shop-headline {
  font-size: 20px;
  font-weight: bold;
  position: absolute;
  bottom: 20px;
  right: 20px;
  background-color: #fcfcfc;
  padding: 5px 10px;
  letter-spacing: 10px;
  margin-bottom: 0;
}
.shop-show-profile {
  position: relative;
}
.page-h3 {
  font-size: 24px;
  font-weight: bold;
  letter-spacing: 3px;
  position: relative;
  padding: 10px 20px;
  margin-bottom: 10px;
  &::before{
    content:"";
    position: absolute;
    top: 0;
    left: 0px;
    width: 10px;
    height: 100%;
    background-color: rgb(19, 32, 47);
    border-radius: 5px 0px 0px 5px;
  }
}
.shop-show-profile-btn-box {
  position: absolute;
  top: 10px;
  right: 10px;

}

.menu-grid {
  width: 100%;
}
.modal-body {
  .btn-box {
    display: flex;
    justify-content: flex-end;
    margin-top: 15px;
    .btn {
      margin-right: 0px;
      margin-left: 10px;
    }
  }
}
.modal-title {
  font-size: 14px;
  display: flex;
  align-items: center;
}
.modal-comment-content {
  display: flex;
  justify-content: center;
}
.modal-comment-content-img {
  max-height: 100px;
  margin-right: 10px;
}
.modal-comment-content-text {
  width: 70%;
  font-size: 14px;
}



